<template name="content">
    <div class="container">
        <div id="content">
            <form action="" class="form-inline">
                <div class="form-group">
                    <label for="task">Task Name</label>
                    <input type="text" class="form-control" name="task">
                </div>
                <button type="submit" class="btn btn-primary">Add</button>
            </form>
            <br>

            <table class="table table-hover">
                <thead>
                <tr>
                    {{#each table_head}}
                        {{>th}}
                    {{/each}}
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>John</td>
                    <td>Doe</td>
                    <td><span class="glyphicon glyphicon-edit"></span></td>
                    <td><span class="glyphicon glyphicon-remove-sign"></span></td>
                </tr>

                </tbody>
            </table>

        </div>
    </div><!-- /.container -->
</template>

<template name="th">
    <th>{{th}}</th>
</template>